# ASSIGNMENT  01 ANSWERS

# SALARIES

In [52]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']

### 1. What is the length of the salaries list.

In [42]:
print(len(salaries))

7

### 2. Retrieve the third salary in the list by using index.

In [43]:
print(salaries[2])

50k

### 3. Extract the last salary from the list by using a negative index.

In [44]:
print(salaries[-1])

40k

### 4. Slice the salaries list to get only the middle three salaries.

In [45]:
print (salaries [2:5])

['50k', '60k', '35k']

### 5. Add a new salary to the list, ‘100k’ by using append() method.

In [53]:
print (salaries.append('100k'))

None

salaries

In [55]:
salaries += ['120k']

### 5. Add a new salary to the list, ‘120k’ without method.

In [56]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

### 6.Replace the third salary in the list with '55k' and print the updated list.

In [57]:
salaries[2] = '55k'

In [58]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 7. Count how many times '40k' appears in the list

In [63]:
salaries.count('40k')

2

### 8.Insert a new salary at the second position

In [64]:
salaries.insert(1, '45k')

In [65]:
salaries

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 9.Reverse the order of the salaries list with method.

In [66]:
salaries.reverse()

In [67]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '45k', '20k']

### 10. Reverse the order of the salaries list without method.

In [68]:
salaries = salaries[::-1]

In [69]:
salaries

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']